auto-install-peers=true
shamefully-hoist=true
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=msw
onlyBuiltDependencies[]=@scarf/scarf
onlyBuiltDependencies[]=unrs-resolver
onlyBuiltDependencies[]=vue-demi
